.average-rating {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #f1eaea8c;
  margin-bottom: 20px;
}

.average-rating .button-section {
  flex-grow: 1;
  text-align: right;
}

.average-rating .button-section .add-review {
  margin-left: 20px;
}

.average-rating strong.avg-rating-count {
  padding: 10px;
  font-size: 35px;
}

.gor-comments {
  list-style-type: none;
  margin-left: 0px;
}

.gor-comments .rating-count {
  padding: 10px;
  font-size: 20px;
}

.geton-rating-form {
  padding: 30px 0px;
}

.submit-section {
  padding: 20px 0;
}
